/* Style the window */
@import "colors.css";

* {
    font-family: "JetBrainsMono NF", monospace;
}

window {
    background-color: transparent;
}

.wrapper {
    background-color: @crust;
    color: #d8dee9;
    padding: 20px 10px;
    border-radius: 10px;
}

button {
    outline: none;
    box-shadow: none;
    background-color: @base;
    color: #eceff4;
    border-radius: 5px;
    padding: 5px 10px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

button:hover {
    background-color: @mantle;
}

/* Style labels */
label {
    font-size: 20px;
    color: @text;
}

.util_info_box {
    margin: 10px 0 0 30px;
}

.clock_time {
    font-size: 3.5rem;
    color: @mauve;
}

.clock_day {
    font-size: 2rem;
    color: @sapphire;
}

.clock_date {
    font-size: 2.5rem;
    color: @sapphire;
}

.test_image {
    padding: 10px;
    background-color: @crust;
    border-radius: 10px;
}
