/*
* ---------------------------------------------------------------------------------------
*  _    __     __           _ __           ____        __      
* | |  / /__  / /___  _____(_) /___  __   / __ \____  / /______
* | | / / _ \/ / __ \/ ___/ / __/ / / /  / / / / __ \/ __/ ___/
* | |/ /  __/ / /_/ / /__/ / /_/ /_/ /  / /_/ / /_/ / /_(__  ) 
* |___/\___/_/\____/\___/_/\__/\__, /  /_____/\____/\__/____/  
*                             /____/                           
* ---------------------------------------------------------------------------------------
*/

/* -----------------------------------------------------
 * Import Catppuccin colors 
 * ----------------------------------------------------- */
@import "mocha.css";

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "JetBrains Mono NL", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  border: none;
  border-radius: 0px;
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
  padding: 0 50px;
}

window > box {
  background-color: @crust;
  padding: 0 20px;
  border-radius: 15px;
  margin: 10px 10px 0px 10px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  margin: 3px 7px 3px 20px;
  border: 0px;
  font-size: 15px;
  color: @text;
}

#workspaces button {
  padding: 0 10px;

  color: @text;
  transition: all 0.5s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
  background: @surface0;
  border-radius: 100%;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: @surface0;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @text;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  margin: 0px;
  border-radius: 12px;
  color: @text;
  font-size: 15px;
  font-weight: normal;
}

window#waybar.empty #window {
  background-color: transparent;
  min-width: 100px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0px 10px;
  /* border-radius: 5px; */
  /* border: @sky 1px solid; */
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
  color: @iconcolor;
}

#idle_inhibitor.activated {
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenuicon {
  font-size: 25px;
  color: @blue;
  margin: 0px 15px 0px 10px;
}

/* -----------------------------------------------------
 * Hardware
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu {
  margin: 0px 0px 0px 5px;
  padding: 0px;
  font-size: 15px;
  color: @iconcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  font-size: 15px;
  color: @text;
  margin: 0px 0px 0px 10px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  font-size: 15px;
  color: @text;
  border-radius: 15px;
  margin: 0px 15px 0px 0px;
}

#pulseaudio.muted {
  color: @text;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  font-size: 15px;
  color: @text;
  margin: 0px 15px 0px 0px;
}

#network.ethernet {
  color: @textcolor;
}

#network.wifi {
  color: @textcolor;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  font-size: 15px;
  color: @textcolor;
  border-radius: 15px;
  margin: 10px 15px 10px 0px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  font-size: 15px;
  color: @textcolor;
  border-radius: 15px;
  margin: 10px 15px 10px 0px;
}

#battery.charging,
#battery.plugged {
  color: @textcolor;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  margin: 0px 10px 0px 0px;
  padding-bottom: 2px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}
