$theme: "dark";

$red: #f38ba8;
$green: #a6e3a1;
$yellow: #f9e2af;
$blue: #89b4fa;
$magenta: #cba6f7;
$teal: #94e2d5;
$orange: #fab387;

$bg_color: #11111b;
$fg_color: #74c7ec;
$hover_fg: #9399b2;
$accent_fg: #74c7ec;
