.clock_wrapper {
  margin-bottom: 20rem;
  margin-left: 60rem;
}

.time {
  color: rgba(255, 255, 255, 0.8);
  font-size: 7rem;
  margin-bottom: -1rem;
}

.date {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
}

.day {
  color: rgba(255, 255, 255, 0.75);
  font-size: 4rem;
}
